{% extends 'base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}
  <h2>All Blog Posts</h2>
  <ul class="post-list">
    {% for post in posts %}
      <li class="post-item">
        <h3>
          <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        </h3>
        <p>{{ post.content|truncatewords:20 }}</p>
        <a href="{% url 'post_detail' post.pk %}" class="btn-small">Read More</a>
      </li>
    {% empty %}
      <p>No posts available.</p>
    {% endfor %}
  </ul>
{% endblock %}
